p {color :blue;
}
section{
	width: 750px;
	height: 450px;
	margin-top: 10px;
	background-color: white;
	float:left;
	box-shadow:  0px 5px;
}
aside #left: {
	width: 185px;
	height: 400px;
	position: absolute;
	margin-top: 5px;
	background-color: black;
	float: left;
	margin-left: 15px;
 }

body{
	background-color: waith;
	color: with;
}
a,header,footer{
	max-width: 92%
	margin:; auto;
}
.section,nav{
	background-color: green;
	text-align: center;
}
header{
	background-color: darkcyan;
}

/* menu*/
.menu li{
	display:inline-block ;
}
li a, boton{
	display:inline-block ;
	color :white;
	text-align: center;
	text-decoration: none;
	padding: 0.9em 1em;
}
.listaDesplegable{
	display: none;
	background-color: ghostwhite;
	position: absolute;
}
.listaDesplegable a{
	color: white;
	display: block;
	text-align: left;
	}
.boton:hover .listaDesplegable{
	display: block;
}
li a:hover{
background-color: red;
}
nav{
color: white;	
}